@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #111827;

}

* {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* text-gray-200
h1, h2, h3, h4, p{
    color: #fff;
}*/