<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="mx-auto max-w-screen-xl p-4 lg:p-12 lg:text-center">
  <h2
    class="mb-4 text-2xl font-bold text-gray-200 dark:text-white lg:text-center lg:text-4xl lg:font-extrabold lg:leading-snug 2xl:px-48"
  >
    Artefactos IOT
  </h2>
  <p
    class="mb-10 text-lg font-normal text-gray-200 dark:text-gray-400 lg:mb-16 lg:text-center lg:text-xl xl:px-64"
  >
    LECTURAS Y GRAFICOS
  </p>

  <!--app-table/-->
  <app-table [readings]="readings"></app-table>
</div>
